@import '../Variables.scss';

.container {
  display: flex;
  position: sticky;
  height: 80px;
  background-color: $navbarColor;
  padding-left: 3%;
  padding-right: 3%;
  .title {
    display: flex;
    align-items: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding-right: 5%;
    color: white;
    cursor: pointer;
    
    .link {
        margin-right: 4%;
        margin-left: 4%;
        fill: white;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    margin-left: 5%;
    .menuItem {
      font-family: 'Readex Pro', sans-serif;
      margin-left: 1rem;
      margin-right: 3rem;
      justify-content: space-between;
      font-size: large;
      color: white;
      transition: 200ms;
    }
    .menuItem:hover {
      color: red;
    }
  }
}
