@import '../Variables.scss';

.container {
  display: flex;
  position: sticky;
  height: 80px;
  background-color: $navbarColor;
  padding-left: 3%;
  padding-right: 3%;
  a {
    color: white;
    outline: none;
    border: none;
    transition: 200ms;
  }
  a:hover {
    color: lightgrey;
  }
  button {
    outline: none;
  }
  .title {
    display: flex;
    outline: none;
    align-items: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding-right: 5%;
    .link {
      margin-right: 4%;
      margin-left: 4%;
      color: white;
      cursor: pointer;
      transition: 200ms;
    }
    .link:hover {
      color: lightgrey;
    }
    .activeLink {
      @extend.link;
      color: $siteBlue !important;
    }
  }
  .menu {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 5%;
    .menuItem {
      text-decoration: none;
      background-color: $navbarColor;
      border: none;
      font-family: 'Readex Pro', sans-serif;
      margin-left: 1rem;
      margin-right: 1rem;
      justify-content: space-between;
      font-size: large;
      color: white;
      transition: 200ms;
    }
    .activeMenuItem {
      @extend.menuItem;
      a {
        color: $siteBlue;
      }
    }
  }
}
